<%-include('./layout/header.ejs')%>

<div class="container">
    <h1 class="text-center">Student List</h1>
    <table id="myTable" class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>numberphone</th>
          <!-- <th>email</th>
          <th>message</th> -->
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </div>
  <script>
    // make an AJAX request to /getdata
    console.log(localStorage.getItem('token'));
    $.ajax({
      url: '/student-list',
      method: 'GET',
      headers: {
        'Authorization': 'Bearer ' + localStorage.getItem("token")
      },
      success: function(data) {
        console.log(data);
        data.forEach(function(element) {
          var newRow = '<tr id="'+element._id+'-row"><td>' + element._id + '</td><td>' + element.Masv + '</td><td>' + element.Tensv+'</td><td><a class=btn btn-danger id="'+element._id+'">delete</a></td><td> <a class=btn btn-primary href="/edit?id='+element._id+'">edit</a></td></tr>';
          
          // create a new script element for deleting the contact
      var deleteScript = document.createElement('script');
deleteScript.innerText = `$('#${element._id}').on('click', function(evt) {
  evt.preventDefault();
  const rowToRemove = document.getElementById('${element._id}-row');
  if (rowToRemove) {
    rowToRemove.parentNode.removeChild(rowToRemove);
  }
  console.log(evt);
  $.ajax({
    url: '/delete-student?id=${element._id}',
    method: 'DELETE',
    success: function(data) {
      console.log(data);
    },
    error: function(jqXHR, textStatus, errorThrown) {
      console.log('Error:', textStatus, errorThrown);
    }
  });
});`;

      // append the new row and script to the table
      $('#myTable tbody').append(newRow);
      $('#myTable tbody').append(deleteScript);
    });
  },
  error: function(jqXHR, textStatus, errorThrown) {
    console.log('Error:', textStatus, errorThrown);
  }
});

    </script>

<%-include('./layout/footer.ejs')%>